@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
  font-family: "Rubik", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin: 20px 80px;
    background-color: black;
}

p{
    color: white;
}
h1{
    color: rgb(237, 157, 8);
    font-size: 50px;
    cursor: default;
}
html{
    scroll-behavior: smooth;
}



::-webkit-scrollbar{
  width: 12px;
}

::-webkit-scrollbar-track{
  background-color: black;

}

::-webkit-scrollbar-thumb{
  background: #eaa023;
  border-radius: 30px;
}

/* header section */
#main-header{
    width: 100%;
    height: 100vh;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#header-video
{    
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
   
}

@media (min-aspect-ratio: 16/9){
    #header-video{
        width: 100%;
        height: auto;
    }
 
}

@media (max-aspect-ratio: 16/9){
    #header-video{
        width: auto;
        height: 100%;
    }   
}

nav{
   
    border-radius: 50px;
    color: rgba(246, 246, 246, 0.956);
    width: auto;
    height: 50px; 
     
}

.logo-container{
   display: flex;
   justify-content: center;
   align-items: center;
}

#main-logo{
    position: relative;
    top: 5px;
    left: 35px;
    height: 100px;
    width: 100px;
}
.logo{
    color: #eaa023;
    font-size: 30px;
    cursor:default;
}

.logo:hover{
    color: white;
    transition: all 0.5s;
}
/****************/
.all-nav-icon {
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.442);
    border-radius: 30px;
    height: 60px;
    margin: 20px 10px;
   
  
}


.icon{
    display: block;
    justify-content: center;
    align-items: center;
    
}

.all-nav-icon .icon a {
    display: block;
    text-decoration: none;
    color: white;
}

.icon  ul  {
    display: flex;

}

.icon ul  li  {
    list-style: none;
    margin: 20px;
    font-size: 17px;
    cursor: pointer;
    position: relative;
}

.icon ul  li a:hover{
    color: #eaa023;
    transition: all 0.4s;
}


#submenu{
    margin-top: 0px;
    padding: 10px;
   
    border-radius: 10px;
    position: absolute;
    visibility: hidden;
    z-index: 1;
    left: -70%;

    width: auto;
    display: block;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.847);
}

.icon #submenu{
    color: black;
}

li:hover ul#submenu{
    opacity: 5;
    visibility: visible;
}


#submenu li{
    text-align: center;
    padding: 5px 10px;
    float: none;
    list-style:disc;
    width: 150px;
    color: black;
  
}

#submenu li a:hover{
    color: #eaa023;
    
}
/* ******btn*/


.nav-btn #btn1{
    background: transparent;
    color: white;
    
    border: 2px solid rgba(255, 163, 26, 0.756);
   
   
}
.nav-btn a{
    text-decoration: none;
    color: white;
}
.btn{
    
    background-color: black;
    border: 2px solid rgba(255, 255, 255, 0.641);

}
.btn:hover{
    background-color: #eaa023;
    transition: all 0.9s;
    
}
#btn2:hover{
  color: #000000;
}

.nav-btn .btn{
    border-radius:30px;
    padding: 5px 30px ;
    margin-right:10px ;   
}

.nav-container{
    margin-top: 50px; 
    position: relative;
    width: 80%;
    height: 500px;
    left: 10%;
    right: 10%;
    border: 1px solid black;
    border-radius: 30px;
    background-color: rgba(128, 128, 128, 0.086);  
}
.nav-info{
    margin-top: 70px;
    text-align: center;
}

.nav-info p {
    font-size:100px;
    color: white
}

.nav-info span{
    text-align: center;
    color: rgb(255, 163, 26);
    position: relative;
}

.nav-info span::before{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: white;
    transition: all .7s;
}

.nav-info span:hover::before{
    width: 100%;
}

.nav-pera{
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
}

.nav-seach-box{
    display: flex;
    align-items: center;
    margin-top: 20px;
    position: relative;
    left: 29%;
    background-color: white;
    height: 50px;
    width: 30rem;
    border: 2px solid black;
    border-radius: 50px;
}

.nav-seach-box img{
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.searchbox input {
    text-align: center;
    width: 26rem;
    height: 25px;
    outline: none;
    font-size: 17px;
    border: 2px solid transparent;
    border-radius: 50px;
    padding-left: 20px;
}

.searchbox input::before{
    content: 'placeholder';
    position: relative;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: white;
    transition: all .7s;
}


.scroll-down{
    margin-top: 30px;
    text-align: center;

}

.scroll-down img:hover{
    transition: 0.5s;
}


/*-------------------------------destination------------------------------*/



#destination{
  width: 100%;
  height: 710px;
  padding-top: 15px;
  margin-bottom: 80px;
  margin-top: 50px;
}
.destination-box{
  border-radius: 20px;
  height: 700px;
  width: auto;
  background-color: #000000;
  padding: 20px 100px 20px 100px; 
  
}

.des-container{
  margin-top: 10px;

}

.des-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
}

.des-pera{
  height: auto;
  width:500px;
  color: gray;
  text-align: center;
  text-align:justify;
}

.all-destination-image {
  padding-top:20px;
}

.two-img-1 , .two-img-2{
  width: 100%;
  display: flex;
  gap: 20px;  
}

.image img{
  border-radius:15px;   
}
.two-img-1{
  padding-bottom:10px ;
}

.image {
  position: relative;
  color: white;
  left: 20px;
}

.image:hover{
  transform: scale(0.9);
  transition: all 1.2s ease-in-out;
}

.image span{
  font-weight: 500;
  font-size: 20px;
}
.bottom-left {
  position: absolute;
  font-size: 15px;
  bottom: 30px;
  left: 20px;
  font-weight: 300;
  cursor: pointer;
}


.bottom-left span::before{
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: all .5s ease-in-out;
}

.bottom-left span:hover::before{
  width: 100%;
}

#img1{
  height: 260px;
  width: 660px;
  box-shadow: -30px 20px 20px -10px rgba(0,0,0,0.10),
  -20px 25px 20px -20px rgba(0,0,0,0.10),
  -20px 25px 20px -20px rgba(0,0,5,0.10),
 -30px 25px 20px -20px rgba(0,0,0,0.10);
}
  
#img2{
  height: 260px;
  width: 430px;
  box-shadow: -30px 20px 20px -10px rgba(0,0,0,0.10),
  -20px 25px 20px -20px rgba(0,0,0,0.10),
  -20px 25px 20px -20px rgba(0,0,0,0.10),
 -30px 20px 20px -20px rgba(0,0,0,0.10);
}


/*-----------------------tour section-------------------------*/


.tourinfo{
  margin: 0px 50px 0px 50px;
}
.tour{
  margin-top: 100px;
  margin-bottom: 100px;
}
#tour{
  padding: 100px;
   
  
}

#tour-destination{
  width: 100%;
  height: 100%;
  padding-top: 15px;
  
}
.tour-destination-box{
  border-radius: 20px;
  background-color: #000000;
  
}

.tour-des-container{
  margin-top: 10px;

}
.tour-des-info{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;

}

.left-top, .right-top {
  position: absolute;
  top: 280px;
  backdrop-filter: blur(50px);
  color: white;
}

.left-top {
  left: 12px;
}

.right-top { 
  left: 250px;
  height: 25px;
  width: 47px;
}

#star {
  height: 12px;
  width: 12px;
}

.bottom-left-2 {
  border-radius: 30px;
  backdrop-filter: blur(20px);
  position: absolute;
  top: 330px;
  
  font-size: 15px;
  width: 300px;
  height: 60px;
  text-align: center;
  color: white;
}


.facility{
  position: absolute;
  top: 330px;
  
  text-align: center;
}
.all-facility{
  text-align: center;
  display: flex;
  position: absolute;
  height: 70px;
  top: 230;
  width: 300px;
  padding:5px ;
  backdrop-filter: blur(5px); 
  background:rgba(128, 128, 128, 0.248) ;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius:30px;
  
  
 
} 

.all-facility .flight{
  padding-left: 20px;
}

.facility .all-facility p{
 
    font-size: 12px;
    margin-right: 10px;
    font-weight: 500;
}

#icon{
 
  margin-right: 2px;
  height: 25px;
  width: 25px;
}


.tour-inside-image h2{
  margin: 15px;
  text-align: center;
  font-size: 17px;
  color: white;
}



.tour-des-pera{
  height: auto;
  width:500px;
  color: gray;
  text-align: center;
  text-align:justify;
}

.tour-timeline-section{
	background-color: black;
	padding: 50px 0px;
  margin-top:80px;
  border-radius: 30px;
}

.tour-timeline-section h1{
    text-align: center;
    margin-bottom: 70px;
}

.tour-timeline-item{
  display: flex;
  justify-content: center;
	margin-bottom: 100px;
	width: 100%;
	position: relative;
  margin-top: 20px;
}
.tour-timeline-image{
  position: relative;
}

.tour-inside-image{
  position:absolute;
}


.tour-timeline-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
	  border-radius: 5px;
    height: 250px;
    width: auto;
    
}

.tour-timeline-image img{
    border-radius: 30px;
    height: 400px;
    width: 300px;
    
}



/* responsive */
@media(max-width: 767px){
	.timeline-items::before{
		left: 7px;
	}
	.timeline-item:nth-child(odd){
		padding-right: 0;
		text-align: left;
	}
	.timeline-item:nth-child(odd),
	.timeline-item:nth-child(even){
		padding-left: 37px;
	}
	.timeline-dot{
		left:0;
	}
}
------------------360 degree transform--------------



.tour-middle{
    transform: translate(-50%,-50%);
}

.tour-card,.tour-back-container{
    cursor: pointer;
    height: 450px;
    width: 320px;
}

.tour-front-box,.tour-back-box{
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;  
}
.tour-back-container{
    position: relative;
    left: 40px;
    top: 20px;
}
.tour-back-box{
    background: rgb(234,160,35);
    background: linear-gradient(0deg, rgba(234,160,35,1) 0%, rgba(0,0,0,1) 27%);
    color: white;
    border-radius: 30px;
    height: 400px;
    width: 300px;

}


.tour-front-box{
    
    transform: perspective(600px) rotateY(0deg);
}
.tour-back-box{
    transform: perspective(600px) rotateY(180deg);
}

.tour-card:hover > .tour-front-box{
    transform: perspective(600px) rotateY(-180deg);
}

.tour-card:hover > .tour-back-box{
    transform: perspective(600px) rotateY(0deg);
}

/**/


/*------------------------Slide show---------------------------*/

@keyframes scroll {
  0%{
    transform: translaterX(0);
  }
  100%{
    transform: translateX(calc(-250px * 18));
  }
}

.slider{
  height: 200px;
  width: 90%;
  margin: auto;
  display: grid;
  overflow: hidden;
  position: relative;
  
  
}


.slide{
   
   margin: 50px 70px 50px 70px;

}
.slider .slide-track{
  animation: scroll 90s linear infinite;
  display: flex;
  width: calc(250px *18);
}
.slider .slide{
  
  width: 300px;

  
}


/*---------------------------Blog section------------------------*/ 



.blog-box{
    border-radius: 20px;
    height:700px;
    width: auto;
    background-color: #000000;
    margin-top: 50px;
    margin-bottom: 200px;
}


.blog-class{
    text-align: center;
    margin-top: 30px;
}



.all-blog-image {
    padding-top:30px;
    
    
   
}

.blog-image-container{
    padding-top: 20px;
    width: 100%;
    display: flex;
   
}

.blog-image-container :hover  #blog-image-1{
    transform: scale(0.9);
    transition: all 1.2s;
}
.blog-image-container :hover  #blog-image-2{
    transform: scale(0.9);
    transition: all 1.2s;
}
 
 


.blog-image {
    border-radius: 21px;
    position: relative;
    left:0%;
    background: #fff;
    height: 450px;
    width: 500px;
    
    
}

.blog-image  span{
    font-weight: 300;
    font-size: 25px;
}
 
.bottom-left-3 {
    text-align: left;
    margin: 15px 70px 5px 70px;
    display: block;

}

.bottom-left-3 h2{
    margin-bottom: 10px;
    color: #eaa023 ;
    font-size: large;
    align-items: center;
}
.bottom-left-3 p{
    font-size: medium;
    color: rgb(242, 242, 242);
    margin-bottom: 10px;
    text-align: justify;

}


#blog-image-1 ,#blog-image-2{
  height: 230px;
  width: 500px;
  box-shadow: -30px 20px 20px -10px rgba(0,0,0,0.10),
  -20px 25px 20px -20px rgba(0,0,0,0.10),
  -20px 25px 20px -20px rgba(0,0,5,0.10),
  -30px 25px 20px -20px rgba(0,0,0,0.10);
  border-radius: 30px;    
}

.view-more-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.view-more-btn button {
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  background-color: white;
  color: black;
  height: 40px;
  width: 120px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 15px;
  border:none ;
}
.view-more-btn button a{
    text-decoration: none;
    color: black;
}

.view-more-btn button:hover{
    background-color: #eaa023;
    transition: all 0.5s;
}


/*--------------------------------Footer------------------ */
.footer{
    position:absolute;
    left: 0;
    right: 0;
    background-color: #000000;
    color: white;
    height: 500px;
    margin-top: 20px;
}

.footer-container{
    display:flex;
}

.alloption{
    position: relative ;
    margin: 0px 70px 0px 40px;
    display: flex;
    text-decoration: none;
    color: white;
    outline: none;
    
}

.first-line{
    padding: 60px; 
    margin-left: 50px;
    
}

.first-line ul li {
    list-style: none; 
}

.first-line ul li a:hover{
  transition: all 1s ;
  color: #eaa023;
}

.first-line a{
    text-decoration: none;
    color: white;
    
}
.first-line li {
    margin: 10px;
    padding-bottom: 5px;
}

.social-media{
    padding-left: 10%;
    margin-top: 80px ;
}

.social-media p span{
    font-size: 20px;
    color: #eaa023;

}

.social-media p {
    font-size: 15px;
   
}


.email-box{
    margin-top: 20px;
    height: 45px;
    width: 420px;
    background-color: transparent;
    border-radius: 30px;
    border: 2px solid white;
    margin-left: 5px;
    padding: 5px;
    text-align: center ;
}

.email-box #email{
    height:30px ;
    width: 300px;
    border-radius: 30px;
    outline: none;
    border: transparent;
    color: white;
    padding-left: 30px;
    font-size: 15px;
    background-color: transparent;
}

.email-box button{
    height: 30px;
    width: 100px;
    color: white;
    font-size: 12px;
    border: 2px solid #eaa023;
    background: transparent;
    border-radius: 30px;
}

.email-box button:hover{
  font-size: medium;
  transition: all 1s ;
  background-color: #eaa023;
  color: black;
}
.all-social-link{
    position: absolute;
    right: 12%;
    bottom: 47%;
}
.all-social-link img{
    
    margin-top: 40px;
    height: 40px;
    width: 40px;
}

.copywrite{
    position: absolute;
    bottom: 30px;
    left: 37%;
}   


.copywrite a{
    text-decoration: none;
    color: gray;
}

.copywrite a:hover{
  transition: all 1s;
  color: #eaa023;
}
/**********************************************************************************/
                                /* Destination section */ 

#backgroundpic{
    filter: blur(2px);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}
@media (min-aspect-ratio: 16/9){
    #backgroundpic{
        width: 100%;
        height: auto;
    }
 
}

@media (max-aspect-ratio: 16/9){
    #backgroundpic{
        width: auto;
        height: 100%;
    }   
}

.trip-container{
    display: flex;
    justify-content: space-evenly;
    height:500px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.581);
    margin-top: 70px;
    border-radius: 30px;
}




.trip-image img{
    border-radius: 30px;
    height: 400px;
    width:  400px;
    box-shadow: -40px 20px 20px -10px rgba(0,0,0,0.10),
    -20px 25px 20px -20px rgba(0,0,0,0.10),
    -20px 25px 20px -20px rgba(0,0,5,0.10),
    -30px 25px 20px -20px rgba(0,0,0,0.10);
}

.trip-image{
    position: absolute;
    top: 26%;
    left: 15%;
    
}

.trip-image:hover{
    transform: scale(0.9);
    transition: all 0.9s;
}

.trip-detail{
    width: 500px;
    position: absolute;
    top:28% ;
    right: 15%; 
}


.trip-detail p{
    color: black;
    
    
}



.trip-detail p {
    margin-top: 20px;
    font-size: 17px;
    font-weight: 550;
    text-align:justify;
}

.trip-detail-btn{
    position: relative;
    top: 40px;
    text-align: center;

}

.trip-detail-btn button{
    height: 50px;
    width: 20rem;
    border-radius: 30px;
    background-color: black;
    color: white;
    font-size: medium;
}




.trip-detail-btn button:hover{
    transform: scale(0.9) ;
    transition: all 0.5s;

}

/* pakage more update*/


.trip-detail-btn button a{
    text-decoration:none ;
    color: white;
}



/*--------------------tour section---------------------- */

.destinatio-tour-info{
    text-align: center;
    padding-top:50px ;
}

.timeline-section{
  font-family: "Rubik", sans-serif;
	background-color: black;
	min-height: 100vh;
	padding: 50px 15px;
    margin-top:10px;
    border-radius: 30px;
    padding-bottom: 260px;
}

.timeline-section h1{
    text-align: center;
    margin-bottom: 70px;
}
.timeline-items{
	max-width: auto;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.timeline-items::before{
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: #2f363e;
	left: calc(50% - 1px);
}
.timeline-item{
	margin-bottom: 100px;
	width: 100%;
	position: relative;
}
.timeline-item:last-child{
	margin-bottom: 0;
}

.timeline-dot{
	height: 16px;
	width: 16px;
	background-color: #eaa023;
	position: absolute;
	left: calc(50% - 8px);
	border-radius: 50%;
	top:120px;
}
.timeline-date{
    position: relative;
	font-size: 18px;
	color: #eaa023;
	margin:6px 0 15px;
}
.timeline-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
	padding: 30px;
	border-radius: 5px;
    height: 250px;
    width: auto;
    
}

.animation{
    display: flex;
    justify-content: space-around;
    
}

.timeline-image{
    height: 300px;
    width: 500px;
}

.timeline-image img{
    border-radius: 30px;
    height: 300px;
    width: 500px;
    
}

.timeline-info{
    width: 500px;
    text-align:justify;
}
.timeline-content h3{
  font-size: 20px;
	color: #ffffff;
	margin:0 0 10px;
	text-transform: capitalize;
	font-weight: 500;
}
.timeline-content p{    
    
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
}
.timeline-content h2{
    color: #eaa023;
}

/* responsive */
@media(max-width: 767px){
	.timeline-items::before{
		left: 7px;
	}
	.timeline-item:nth-child(odd){
		padding-right: 0;
		text-align: left;
	}
	.timeline-item:nth-child(odd),
	.timeline-item:nth-child(even){
		padding-left: 37px;
	}
	.timeline-dot{
		left:0;
	}
}
------------------360 degree transform--------------



.middle{
    transform: translate(-50%,-50%);
}

.card,.back-container{
    cursor: pointer;
    height: 300px;
    width: 500px;
}

.front-box,.back-box{
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;  
}
.back-container{
    position: relative;
    left: 40px;
    top: 20px;
}
.back-box .back-container h2{
  position: relative;
  left: 0;
  top: 0;
}
.back-box{
    background-image: linear-gradient(#1a1717, #000000);
    color: white;
    border-radius: 30px;
   
}

.back-box button a{
  color: black;
  text-decoration: none;
}

.back-box-btn{
    position: relative;
    left: 400px ;
    height: 30px;
    width: 60px;
    bottom: 50px;
    border-radius: 30px;
    border:none ;
    background-color:white;
    color: black;
}
.back-box-btn:hover{
    background-color: #eaa023;
    transition: all 0.9s;
}

.front-box{
    
    transform: perspective(600px) rotateY(0deg);
}
.back-box{
    transform: perspective(600px) rotateY(180deg);
}

.card:hover > .front-box{
    transform: perspective(600px) rotateY(-180deg);
}

.card:hover > .back-box{
    transform: perspective(600px) rotateY(0deg);
}

/*************************************************************************************/

/* Contect-Us*/ 
  
  .background {
    display: flex;
    min-height: 80vh;
   
  }
 
  .container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
  }
  
  .screen {
    position: relative;
    background: #3e3e3e;
    border-radius: 15px;
  }
  
  .screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
  }
  
  .screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #4d4d4f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .screen-header-left {
    margin-right: auto;
  }
  
  .screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
  }
  
  .screen-header-button.close {
    background: #eaa023;
  }
  
  .screen-header-button.maximize {
    background: #e8e925;
  }
  
  .screen-header-button.minimize {
    background: #74c54f;
  }
  
  .screen-header-right {
    display: flex;
  }
  
  .screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
  }
  
  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #eaa023;
    font-size: 26px;
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #fff;
  }
  
  .app-contact {
    margin-top: auto;
    font-size: 8px;
    color: #888;
  }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.message {
    margin-top: 40px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: #666;
  }
  
  .app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  .app-form-button {
    background: none;
    border: none;
    color: #eaa023;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  .app-form-button:hover {
    color: white;
  }
  
  .credits {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #eaa123db;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    font-weight: normal;
  }
  
  .credits img{
    margin: 10px;
    height: 30px;
    width: 30px;
  }
  
  @media screen and (max-width: 520px) {
    .screen-body {
      flex-direction: column;
    }
  
    .screen-body-item.left {
      margin-bottom: 30px;
    }
  
    .app-title {
      flex-direction: row;
    }
  
    .app-title span {
      margin-right: 12px;
    }
  
    .app-title:after {
      display: none;
    }
  }
  
  @media screen and (max-width: 600px) {
    .screen-body {
      padding: 40px;
    }
  
    .screen-body-item {
      padding: 0;
    }
  }
  
/*************************************************/
*, *:before, *:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .background {
    display: flex;
    min-height: 80vh;
    
  }
  
  .container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
  }
  
  .screen {
    position: relative;
    background: #3e3e3e;
    border-radius: 15px;
  }
  
  .screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
  }
  
  .screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #4d4d4f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .screen-header-left {
    margin-right: auto;
  }
  
  .screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
  }
  
  .screen-header-button.close {
    background: #eaa023;
  }
  
  .screen-header-button.maximize {
    background: #e8e925;
  }
  
  .screen-header-button.minimize {
    background: #74c54f;
  }
  
  .screen-header-right {
    display: flex;
  }
  
  .screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
  }
  
  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #eaa023;
    font-size: 26px;
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #fff;
  }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: #666;
  }
  
  .app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  .app-form-button {
    background: none;
    border: none;
    color: #eaa023;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  .app-form-button:hover {
    color: white;
  }
  
  .credits {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #eaa123db;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    font-weight: normal;
  }
  
  .credits img {
    margin: 10px;
    height: 30px;
    width: 30px;
  }
  
  @media screen and (max-width: 520px) {
    .screen-body {
      flex-direction: column;
    }
  
    .screen-body-item.left {
      margin-bottom: 30px;
    }
  
    .app-title {
      flex-direction: row;
    }
  
    .app-title span {
      margin-right: 12px;
    }
  
    .app-title:after {
      display: none;
    }
  }
  
  @media screen and (max-width: 600px) {
    .screen-body {
      padding: 40px;
    }
  
    .screen-body-item {
      padding: 0;
    }
  }
  
 /*************************************************/ 

 .back-container button{
  position: relative;
  top: 20%;
  left: 30%;
  height: 40px;
  width: 110px;
  border-radius: 30px;
  background-color: white;
  border: none;
 }
 .back-container button a{
   font-size: large;
   text-decoration: none;
   color: black;
 }

 .back-container h2{
  position: relative;
  left: 20%;
  top: 10%;

 }

.timeline-info h2{
  margin-bottom: 10px;
 }


 